/* Styles to make the pokemon shake on hover */
.gelatine:hover {
    animation: gelatine 0.25s;
  }
  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

.gelatine:focus {
  -webkit-animation: beat 1s ease-in-out backwards;
          animation: beat 1s ease-in-out backwards;
}
.gelatine:active {
  -webkit-animation: none;
          animation: none;
}